.button {
  margin: 1em 0 0 0;
  padding: 1em;

  font-size: 14px;
  text-transform: uppercase;

  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);

  transition: all 0.4s ease-in-out;
}

.button:hover {
  color: var(--white);

  border: 1px solid var(--white);
  background-color: var(--purple);

  transition: all 0.4s ease-in-out;
}

#username {
  display: inline-block;
}

#exit-button {
  color: var(--purple);

  transition: all 0.4s ease-in-out;
}

#exit-button:hover {
  color: var(--white);
  background-color: var(--purple);  

  transition: all 0.4s ease-in-out;
}

.rooms {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  column-gap: 20px;
  row-gap: 20px;
  margin: 2em 0 0 0;
}

.room {
  position: relative;

  display: flex;
  align-items: center;
  width: 240px;
  height: 240px;

  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  border-radius: 10px;
}

.room__user {
  position: absolute;
  left: 16px;
  top: 8px;
}

.room__info {
  margin: 0 auto;
}

.join-btn {
  display: block;
  margin: 0.5em auto 0;
  padding: 0.5em 1em;
}

.game-page {
  display: flex;
  align-items: center;
}

.game-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 420px;
}

.game-title {
  margin: 20px 30px 20px;
}

#quit-room-btn {
  margin-left: 30px;
  padding: 1em 2em;
}

.users {
  flex-grow: 1;
  margin-top: 60px;
}

.user {
  min-height: 60px;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-ready-status {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 30px;

  border-radius: 20px;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: var(--green);
}

.progress-bar .ready-status-success {
  background-color: #00ff00;
}

.user-name {
  flex-grow: 1;
  min-width: 80%;

  font-size: 0.9em;
}

.progress-bar {
  flex-grow: 1;
  min-width: 200px;
  margin: 10px 0 0 30px;
  height: 24px;

  border: 1px solid black;
}

.user-progress {
  height: 100%;
  width: 0;
  
  background: var(--green);
}

.game {
  position: relative;

  display: flex;
  align-items: center;
  width: 600px;
  height: 600px;
  margin-left: 30px;

  border: 1px solid black;
}

#ready-btn {
  margin: 0 auto;
}

#text-container {
  display: none;
  margin: 0 auto;
  padding: 4em;
  
  font-size: 3em;
}

#game-time {
  position: absolute;

  top: 10px;
  right: 20px;
}

.correct {
  background-color: var(--green);
}

.next-letter {
  border-bottom: 2px solid var(--green);
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;

  border: 1px solid black;
  background: #eeeeee;
}

.results-title {
  margin-bottom: 14px;

  font-size: 2em;
}

.results-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 14px;
  padding: 0;

  list-style-type: none;
}

.results-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}