.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
  
  transition: all 0.4s ease-in-out;
}

#username-input:hover {
  border: 1px solid var(--purple);

  transition: all 0.4s ease-in-out;
}

#submit-button {
  padding: 0 15px;
  margin-left: 10px;
  height: 39px;

  font-size: 14px;
  text-transform: uppercase;

  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);

  transition: all 0.4s ease-in-out;
}

#submit-button:hover {
  color: var(--white);

  border: 1px solid var(--white);
  background-color: var(--purple);

  transition: all 0.4s ease-in-out;
}
